/* Global styles */
html {
    font-family: 'Amiri', serif;
}
body {
    direction: rtl;
    text-align: right;
    font-family: 'Amiri', serif;
}

@font-face {
    font-family: 'Thuluth';
    src: url('@/assets/alsamt diwani.ttf') format('truetype');
}

.txtt {
    font-family: 'Thuluth';
}


.background {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    transition: background-image 0.5s ease-in-out;
  }
  
